
body {
  font-family: sans-serif;
  line-height: 1.4;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
/* 
.buttonss {
    display:none;
} */

.abc
{
	
	display: inline-flex;
	color: #777;
fill: currentColor;
border: 1px solid transparent;
background-color: hsla(0,0%,100%,.85);
border-top-color: transparent;
height: 32px;
padding: 0 11px;
font-size: 14px;
line-height: 30px;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
transition: all .2s ease-in-out;
text-align: center;
text-decoration: none;
font-weight: 500;
    box-sizing: border-box;
}
}
div.photo-item {
  position: relative;
  float: left;
  margin: 5px;
}

div.photo-item:hover .aa {
  opacity: 0.5;
}

div.photo-item:hover input {
  display: block;
}
div.photo-item:hover button {
  display: block;
}
div.photo-item:hover .photo {
  display: block;
    opacity: 1;
}
.photo-item__caption
{
	position: absolute;
  display: none;
	
}
.photo-item__category
{
	position: absolute;
  display: none;
	
}
div.photo-item:hover .photo-item__caption {
  position: linear;
  display: block;
  left: 15%;
  bottom: 7%;
}
div.photo-item:hover .photo-item__category {
  position: linear;
  display: block;
  left: 15%;
  top: 7%;
}
div.photo-item:hover .p {
  display: block;
    opacity: 1;
}

div.photo-item input {
  position: absolute;
  display: none;
}
div.photo-item button {
  position: absolute;
  display: none;
}
div.photo-item .photo {
  position: absolute;
  display: none;
  border-radius:50%;
}

div.photo-item .photo {
  left: 5%;
  bottom:5%;
}

div.photo-item button.like {
  right: 28%;
  top: 5%;
  color:red;
  text-decoration:none;
 
}

div.photo-item button.download1 {
  right: 5%;
  bottom: 5%;
}

div.photo-item button.collect {
  top: 5%;
  right: 5%;

}

.grid__col-sizer,
.photo-item {
  width: 32%;
}

.grid__gutter-sizer {
  width: 2%;
}

.photo-item {
  margin-bottom: 10px;
  float: left;
}

.photo-item__image {
  display: block;
  max-width: 100%;
  cursor:zoom-in;
}
/* .photo-item__image:hover {
    opacity: 0.2;
} */

/* .photo-item:hover .buttonss {
    display:block;
}
 */
 
 
.photo-item__caption {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 0;
}
.photo-item__category {
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin: 0;
}
.photo-item__caption a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}
.photo-item__category a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}
.page-load-status {
  display: none; 
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
   margin-left: auto;
    margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

	.img-wrap {
  width: relative;
  height: relative;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  
}

.download{

    width: 180px;
flex-shrink: 0;
    padding: 4px;
    display: flex;

}
.downloadbtn{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    color: #fff !important;
    fill: currentColor !important;
    background-color: #3cb46e;
    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;
}


/* modal */


._1w02r {

    display: none;

}

._34F8y {

    position: fixed;
    right: 0;
    left: 0;
    min-height: 56px;
    background-color: #fff;
    z-index: 6;

}

._1Tkkp {

    margin: 0;
    display: flex;

}
ul {

    padding-left: 0;
    list-style-type: none;

}

._33T-L {

    flex: 1;

}
._2TtAc {

    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;

}
.XOj_G {

    color: #111;
    fill: #111;
    pointer-events: none;

}
._3t5Ep {

    padding: 20px 12px;

}
._3t5Ep {

    display: flex;
    flex-direction: column;
    align-items: center;

}
._1CBrG {

    text-decoration: none;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
svg:not(:root) {

    overflow: hidden;

}
._2DZ9T {

    width: 21px;

}
svg {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
._33T-L {

    flex: 1;

}
._2TtAc {

    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;

}
._3t5Ep {

    padding: 20px 12px;

}
._3t5Ep {

    display: flex;
    flex-direction: column;
    align-items: center;

}
._1CBrG {

    text-decoration: none;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
svg:not(:root) {

    overflow: hidden;

}
._2DZ9T {

    width: 21px;

}
svg {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

._15dRI {

    height: 62px;

}
.MKbw9 {

    display: none;

}
.MKbw9 {

    width: 100%;
    padding: 6px 12px 12px;
    pointer-events: none;

}
.PRES1 {

    background-color: #fff;

}
._3d75X {

    width: calc(50% - 6px);
    margin-right: 12px;
    text-align: center;
    pointer-events: auto;

}
._37zTg {

    color: #999;
    fill: currentColor;
    background-color: #fff;
    border-color: #ddd;

}
._1zIyn {

    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;

}
._2Xklx {

    cursor: pointer;

}
._1l4Hh {

    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: all .2s ease-in-out;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;


	}
	
	
	._3d75X:last-child {

    margin-right: 0;

}
._3d75X {

    width: calc(50% - 6px);
    margin-right: 12px;
    text-align: center;
    pointer-events: auto;

}
._1yvXd {

    color: #fff !important;
    fill: currentColor !important;
    background-color: #3cb46e;

}
._1zIyn {

    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;

}
._2Xklx {

    cursor: pointer;

}
._1l4Hh {

    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: all .2s ease-in-out;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {

    display: block;

}

._1g4h6, ._1M8LQ {

    height: 62px;

}
._1M8LQ {

    z-index: 6;
    align-items: center;

}
._2xMJp {

    position: fixed;
    display: flex;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fff;

}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {

    display: block;

}
._2jZzC {

    display: flex;
    flex: 1;

    align-items: center;

}

._2-Pvv {

    display: flex;
    align-items: center;
    margin-top: -2px;

}
._1CBrG {

    text-decoration: none;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
svg:not(:root) {

    overflow: hidden;

}
._2m4hn {

    vertical-align: middle;

}
svg {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
._1g2pj {

    margin-left: 18px;

}
._1g2pj {

    width: 100%;

}
._2jvJJ {

    height: 40px;
    border-radius: 24px;
    background-color: #eee;
    font-size: 14px;
    border: 1px solid transparent;

}
.mV0BM {

    display: flex;
    position: relative;
    transition: all .1s ease-in-out;

}
svg:not(:root) {

    overflow: hidden;

}
._1mPD6 {

    width: 16px;
    height: 16px;

}
._2-tlh {

    padding-left: 14px;

}
._1azRR {

    box-sizing: content-box;
    fill: #999;
    transition: fill .1s ease-in-out;

}
svg {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

button::-moz-focus-inner, input::-moz-focus-inner {

    border: 0;
    padding: 0;

}

._2VoZY {

    display: flex;
    align-items: center;

}
._3d86A, ._3d86A:hover {

    box-shadow: none;

}
._3d86A {

    border: none;
    padding: 0;
    background-color: transparent;
    text-align: inherit;

}
button, html input[type="button"], input[type="reset"], input[type="submit"] {

    -webkit-appearance: button;
    cursor: pointer;

}
button, select {

    text-transform: none;

}
button {

    overflow: visible;

}
button, input, optgroup, select, textarea {

    color: inherit;
    font: inherit;
    margin: 0;

}


._2ZbDJ {

    flex-grow: 1;
    display: flex;

}
button::-moz-focus-inner, input::-moz-focus-inner {

    border: 0;
    padding: 0;

}
._3FYu1::placeholder {

    color: #777;

}
element {

}
._3FYu1:required {

    box-shadow: none;

}
input[type="search"] {

    -webkit-appearance: textfield;
    box-sizing: content-box;

}
._3q0cO {

    padding-left: 12px;
    padding-bottom: 2px;

}
._3FYu1 {

    box-sizing: border-box !important;

}
._3FYu1 {

    flex-grow: 1;
    width: 100%;
    background: none;
    border: none;
    color: #111;

}
input {

    letter-spacing: inherit;

}
input {

    line-height: normal;

}
button, input, optgroup, select, textarea {

    color: inherit;
    font: inherit;
        line-height: inherit;
    margin: 0;

}
._2j1Lb {

    padding-left: 16px;

}
._2j1Lb {

    padding-right: 36px;
    text-align: center;

}

._250wZ, .bJOpW {

    display: inline-block;

}
._250wZ {

    margin: 0;

}
ul {

    padding-left: 0;
    list-style-type: none;

}

._29OpZ {

    display: inline-block;
    font-size: 14px;

}
.xLon9 {

    font-weight: 500;

}
._3t5Ep {

    padding: 20px 12px;

}
._3t5Ep {

    display: flex;
    flex-direction: column;
    align-items: center;

}
._1CBrG {

    text-decoration: none;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}

._29OpZ {

    display: inline-block;
    font-size: 14px;

}
.xLon9 {

    font-weight: 500;

}
* {

    box-sizing: border-box;

}
._3t5Ep {

    padding: 20px 12px;

}
._3t5Ep {

    display: flex;
    flex-direction: column;
    align-items: center;

}
._1CBrG {

    text-decoration: none;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
.bJOpW {

    position: relative;

}
._250wZ, .bJOpW {

    display: inline-block;

}

button::-moz-focus-inner, input::-moz-focus-inner {

    border: 0;
    padding: 0;

}
element {

}
._2gFPl {

    line-height: 1;
    color: #999;
    fill: currentColor;
    vertical-align: middle;
    border: none;
    transition: all .2s ease-in-out;
    background-color: transparent;
    height: 62px;
    padding: 0 12px;

}
button, html input[type="button"], input[type="reset"], input[type="submit"] {

    -webkit-appearance: button;
    cursor: pointer;

}
button, select {

    text-transform: none;

}
button {

    overflow: visible;

}
button, input, optgroup, select, textarea {

    color: inherit;
    font: inherit;
        line-height: inherit;
    margin: 0;

}
svg:not(:root) {

    overflow: hidden;

}
._3DJPT {

    width: 18px;
    height: 18px;
    vertical-align: middle;

}
svg {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.aApNa, .QoLMB {

    align-items: center;

}
.aApNa {

    display: flex;
    height: 32px;

}
._1XDQr {

    margin-right: 48px;

}
._2xhjP {

    display: none;

}
._2PJgo:last-child {

    margin-right: 0;

}
._2PJgo {

    margin-right: 14px;

}
._37zTg {

    color: #999;
    fill: currentColor;
    background-color: #fff;
    border-color: #ddd;

}
._1zIyn {

    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;

}
._2Xklx {

    cursor: pointer;

}
._1l4Hh {

    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: all .2s ease-in-out;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
.QoLMB {

    position: relative;
    display: inline-flex;

}
.aApNa, .QoLMB {

    align-items: center;

}
_2YZnO::before {

    position: absolute;
    top: 0;
    left: -18px;
    display: inline-block;
    width: 1px;
    height: 32px;
    content: "";
    background-color: #ddd;

}
element {

}
._2YZnO {

    border-color: transparent;
    border-radius: 0;
    box-shadow: none;

}
._2PJgo {

    margin-right: 14px;

}
._37zTg {

    color: #999;
    fill: currentColor;
    background-color: #fff;
    border-color: #ddd;

}
._1zIyn {

    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;

}
._2Xklx {

    cursor: pointer;

}
._1l4Hh {

    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: all .2s ease-in-out;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}

._2PJgo:last-child {

    margin-right: 0;

}
._2PJgo {

    margin-right: 14px;

}
._1yvXd {

    color: #fff !important;
    fill: currentColor !important;
    background-color: #3cb46e;

}
._1zIyn {

    display: inline-block;
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;

}
._2Xklx {

    cursor: pointer;

}
._1l4Hh {

    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    transition: all .2s ease-in-out;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
._1g4h6, ._1M8LQ {

    height: 62px;

}
._1EkxQ {

    z-index: 5;
    box-shadow: 0 4px 12px rgba(0,0,0,.08),0 0 1px rgba(1,0,0,.1);

}
._8-qoZ {

    position: fixed;
    width: 100%;

}
._8-qoZ {

    display: flex;
    background-color: #fff;

}
._2ZZrD {

    margin-left: 24px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

}
ul {

    padding-left: 0;
    list-style-type: none;

}
._3ABqA {

    padding-right: 24px;
    transform: translateY(1px);

}
._2OOtd {

    color: #111;
    border-bottom: 2px solid;

}
.SI2Kz {

    display: block;
    padding-bottom: 17px;
    padding-top: 21px;
    line-height: 1;
    font-size: 14px;
    white-space: nowrap;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}

._3Zuj5 {

    background-color: #ddd;
    width: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    flex-shrink: 0;

}
._2Ru_P::after {

    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    pointer-events: none;
    content: "";
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 95%,#fff);

}
element {

    height: 55px;

}
._2Ru_P {

    position: relative;
    width: 100%;
    overflow: hidden;

}
._3b4NQ {

    height: calc(100% + 15px);
    box-sizing: content-box;
    overflow-x: scroll;
    overflow-y: hidden;

}
._2ZZrD {

    margin-left: 24px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;

}
ul {

    padding-left: 0;
    list-style-type: none;

}
._3ABqA {

    padding-right: 24px;
    transform: translateY(1px);

}
.SI2Kz {

    display: block;
    padding-bottom: 17px;
    padding-top: 21px;
    line-height: 1;
    font-size: 14px;
    white-space: nowrap;

}
._1CBrG {

    text-decoration: none;

}
.xLon9 {

    font-weight: 500;

}
._3hx48, a {

    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

}
a {

    background-color: transparent;

}
.TS3xq {

    height: 55px;

}















